
.error{
    border: 1px solid brown;
    background: #c77;
    color: white;
    padding: 5px;
    text-align: center;
}

.m_success{
    border: 1px solid darkgreen;
    background: #7c7;
    color: white;
    padding: 5px;
    text-align: center;
}

.detail{
    /* margin-left: 15%; */
    background: rgb(70, 70, 243);
    width:100%;
    text-align: center;
    padding: 2.5%;
    color: antiquewhite;
}


.table{
    margin-top: 2rem;
    border:1px solid black;
    /* margin-left: 9.7%; */
    /* padding: 1.25rem !important; */
}
.thead{
    color:#fff;
    background: #36a3f7;
    border:1px solid black;
}